.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  padding: var(--sizing-mobilePadding);
  width: 100%;

  @media (min-width: 768px) {
    padding: var(--sizing-desktopPadding);
  }
}

.logo {
  width: 4rem;

  & svg {
    transform: rotate(0);
    transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center center;

    &:hover {
      fill: transparent;
      stroke: var(--color-text);
      paint-order: stroke;
      transform: rotate(-10deg);
    }
  }

  @media (min-width: 768px) {
    width: 5rem;
  }
} 